#h{
    text-align: center;
}

.flexItem{
    padding: 10px;

}

.flexbox1{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    gap: 10px;
    /* justify-content: flex-start;
    flex-wrap: wrap; */
}
.flexbox2{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
}
.flex1{
    background-color :aqua;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 55px;
    width: 100px;
    justify-content: center;
    align-content: center;
}
.flex2{
    background-color :aqua;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 80px;
    width: 1450px;
    align-content: center;
    text-align: center;
}
.flexbox3{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
}
.flex3{
    background-color :aqua;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 55px;
    width: 100px;   
    justify-content: center;
    align-content: center;
}