
h1 {
    text-align: center;
    color: purple;
    font-size: 48px;
    font-weight: 100;
}
header {
    background-color: orange;
    
}
h2 {
    text-align:left;
}
.sidebar {
    width: 200px;
    background:black;
    color: wheat;
    height: 100vh; 
     top: 0;
      left: 0;
       position: fixed; 
        padding: 20px; 

}
.stats-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    
    margin-left: 300px;

    
    margin-top: 40px;

    padding: 10px 40px;
}

.stat-box {
    background: white;
    padding: 15px 20px;

    font-size: 20px;
    font-weight: bold;
    text-align: center;

    border-radius: 15px;       
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.cards-container {
    margin-left: 300px;   
    margin-top: 30px;
    padding: 20px 40px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card {
    background: white;
    padding:10px ;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;

    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
